@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* Start Variables */
:root {
    --primaryColor: hsl(171, 66%, 44%) ;
    --secondaryColor: hsl(233, 100%, 69%);
    --h2Color: hsl(210, 10%, 33%);
    --paraColor: hsl(201, 11%, 66%);
}
/* End Variables */


/* Start Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
}

.vh100 {
    height: 100vh;
}
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 40px
}

.center {
    text-align: center;
}

h3,
h2,
h1 {
    color: var(--h2Color);
}
p {
    color: var(--paraColor);
    line-height: 1.6;
}

.btn-cyan {
    background-color: var(--primaryColor);
    box-shadow: #1e9f87 0px 2px 2px,#1e9f87 0px -1px 2px
}
.btn-blue {
    background-color: var(--secondaryColor);
    box-shadow: #5462D2 0px 2px 2px,#5462D2 0px -1px 2px
}
.btn {
    display: inline-block;
    position: relative;
    color:white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity .5s;
}
.btn + .btn {
    margin-left: 10px;
}
@media (max-width: 430px) {
    .btn + .btn {
        margin: 20px 0 0;
    }
}
.btn::before {
    content: "";
    position: absolute;
    height: 1px;
    right: 50%;
    bottom:8px;
    background-color: white;
    transition: .5s
}
.btn:hover,
.btn:hover::before {
    opacity: .75;
}
.btn:hover::before {
    display: inline-block;
    padding: 0 40px;
    right: calc(50% - 40px);
}
/* End Global Rules */

/* Start Header */
header {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

header img {
    margin-top: 30px;
    width: 100px;
}

header p {
    max-width: 57ch;
    margin: 0 auto 30px;
}
/* End Header */

/* Start Styling Sections */
.sect h2 {
    font-size: 22px
}
.sect p {
    max-width: 57ch;
    margin: 0 auto 30px;
}
/* End Sections */

/* Start Apple */
.apple {
    display: flex;
    margin: 20px 0 50px;
}



.apple img {
    width: 50%;
    margin: 0 70px 0 -70px;
}
@media (max-width: 900px) {
    .apple {
        flex-direction: column;
        align-items: center;
    }
    .apple img {
        margin: 0;
    }
}
.apple .content {
    margin-top: 40px;
}

.apple .content h2 {
    margin: 0;
}

.apple .content p {
    margin-top: 10px;
    max-width: 34ch;
    font-size: 18px;
}
/* End Apple */

/* Start Devices */
.devices img {
    max-width: 80%;
}


/* End Devices */

/* Start Features */
.features {
    margin: -30px 0 70px;
}
.features .content {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.features .content div + div {
    margin-left: 50px;
}
@media (max-width: 772px ) {
    .features .content {
        flex-wrap: wrap;
    }

    .features .content div + div {
        margin: 10px 0 ;
    }
}

.features .content img {
    height: 40px
}
.features .content h3 {
    margin: 10px;
}
.features .content p {
    max-width: 34ch;
    margin: 0;
}
/* End Features */

/* Start Companies */
.companies {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
@media (max-width: 772px) {
    .companies {
        flex-wrap: wrap;
        gap: 30px;
    }
}
.companies img {
    height: 40px;
}
/* End Companies */

/* Start Download */
.download p {

}
/* End Download */